<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="dashboard">DashBoard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="department">DepartMent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="parent-categeory">Parent Categeory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="child-categeory">Child Categeory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="employee">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="new-ticket">New Ticket</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="ticket-list">Ticket List</a>
            </li>
        </ul>
        <form class="d-flex ">
            
            <button class="btn btn-outline-info my-2 my-sm-0" type="button" (click)="logoff()">LogOff</button>
        </form>
    </div>
</nav>

<router-outlet></router-outlet>