<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-success">
             New ticket
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <label for="">Select Serverity</label>
                        <select name="" [(ngModel)]="newTicketCre.severity" id="" class="form-select">
                            <option value="">Select</option>
                            <option>Low</option>
                            <option>Medium</option>
                            <option>High</option>
                        </select>
                    </div>
                    <div class="col-3">
                    <label>Select Dept</label>
                    <select name="" [(ngModel)]="newTicketCre.deptId" id="" class="form-select">
                        <option value="">Select</option>
                        @for (item of deepList; track $index) {
                            <option [value]="item.deptId">{{item.deptName}}</option>
                        }
                       
                    </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label>Select Parent Category</label>
                        <select name="" id="" [(ngModel)]="selectPCategroy" class="form-select" (change)="onCategeorychange()">
                            <option value="">Select</option>
                            @for (item of parentC; track $index) {
                                <option [value]="item.categoryName">{{item.categoryName}}</option>
                            }
                        </select>
                    </div>
                    <div class="col-3">
                        <label>Select child Category</label>
                        <select name="" [(ngModel)]="newTicketCre.childCategoryId" id="" class="form-select">
                            <option value="">Select</option>
                            @for (item of filterCategory; track $index) {
                                <option [value]="item.childCategoryId">{{item.categoryName}}</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Ticket Deatils</label>
                        <textarea [(ngModel)]="newTicketCre.requestDetails" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                        <button class="btn btn-primary" (click)="onsave()">Create Ticket</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>